.team-page {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;

    .team-name-section {
        display: grid;
        grid-template-columns: 3fr;
        grid-template-rows: 2.5fr 0.5fr;
        grid-column: span 3;

        .title {
            font-size: 4rem;
        }

        .team-name {
            font-size: 3rem;
        }
    }

    .win-loss-section {
        justify-self: center;
        padding: 20px 0 0px 40px;
        text-align: center;
    }

    .match-detail-section {
        grid-column: span 4;
    }

    .more-link {
        align-self: center;
        justify-self: center;
        font-size: 1.5rem;
    }
}